# Apache Spark for complex queries

## Data Management Homework 7

In this assignment we will use 
[Apache Spark](https://spark.apache.org/): 
a popular framework for optimal distributed processing on large amount of data. 
The objective of is to use Apache Spark to translate and execute some queries of the TPCx-BB bigdata benchmark.  
[TPCx-BB](https://www.tpc.org/tpc_documents_current_versions/current_specifications5.asp) 
or simply "Big Bench" is a common benchmark suite to evaluate the system performance on big data analytics and machine learning algorithms. 
We will focus on big data analytical queries, which are expressed in SQL. 

Spark is a framework available in multiple languages: Scala, Java, Python, R. In this exercise, we will use Python.

## Setup

### Jupyter Lab

If you are not familiar with the Jupyter Lab environment, check out these resources from the official website: 
[example notebook](https://jupyter.org/try), 
[docs](https://jupyterlab.readthedocs.io/en/stable/getting_started/overview.html). 

Quick reference:
- This is a cell. A cell can contain either Markdown text (such as this one) or code. Everything in jupyter notebook is a cell.
    - Click on the plus on the top bar to add a new cell
    - You can double-click on a text cell to edit iy using Markdown
    - You can run a cell by either using the button "play" at the top bar or by using the "shift + enter" key combination
    - Running a code cell executes it
    - Running a text cell formats the text
- Once you run a cell it stays in memory! So code will be run based on which order you execute cells, even if you execute a cell that is below another one before
- General rule #1: try to arrange cell step-by-stop from top to bottom. If anything breaks, try to execute every cell from the top
- General rule #2: if you are stuck or a cell is blocked during execution re-run the kernel from the top bar menu
 
### Contents
You can navigate through this exercise contents with the file explorer on the left.  
The contents are "extracted" from the 
[TPCx-BB](https://www.tpc.org/tpc_documents_current_versions/current_specifications5.asp) 
benchmark source folder. 
Please refer to the link if you want to have a broader overview and/or additional information TPCx-BB. 
Since this exercise differs from the actual benchmark, only a subset of its content are reported here:
- `queries/` contains 30 SQL/Spark queries, some of which are to be ported to Spark in this exercise. Every query `qxx/` folder (`xx` = number) contains
    - `engineLocalSettings.conf`: TPC related, disregard
    - `engineLocalSettings.sql`: TPC related, disregard
    - `explain_qxx.sql`: *query content* in "explanatory" format
    - `qxx.sql`: *query content* in TPC exec format
    - `run.sh`: TPC related, disregard
    - `results/qxx-result`: contains the expect result in plain-text. You should compare this with your query output (example provided later)
- `spark_table_schemas`: contains schema information for every table in the dataset. Not relevant for the implementation
- `TPCx-BB-dataset`: contains all the tables in separate folder. Refer to it for table names

**Do not modify** `spark_table_schemas` or `TPCx-BB-dataset` contents as it may compromise your solution.

### Guidelines
You must use the Spark SQL module to solve this exercise. Refer to the official documentation:
> Spark SQL: https://spark.apache.org/docs/latest/sql-programming-guide.html

We will work with *DataFrames*: a Spark data type used to represent collections of data, including database Tables. 
You are strongly recommended to refer to the DataFrame API reference within the Spark SQL module during the exercise implementation. 
There you will find methods, functions and further datatypes which are equivalent to SQL operations. 
> DataFrame Reference: https://spark.apache.org/docs/latest/api/python/reference/pyspark.sql/dataframe.html
The Spark DataFrame API resembles the one of Pandas library.
 
Reference: 
 [PySpark API documentation](https://spark.apache.org/docs/latest/api/python/reference/index.html)

#### Reading TCPx-BB queries
The SQL queries files (`explain_qxx.sql` and `qxx.sql`) are taken directly from the TPCx-BB benchmark suite 
and therefore might contain "extra" SQL statements and comments, 
which are functional to the TCPx-BB original benchmark (e.g. `hive` instructions, `EXPLAIN`, etc.). 
Your goal is to extract and translate the SQL query only, disregarding irrelevant statements/instructions for the purpose of this exercise.  
Additionally, queries might contain *template* variables, in the form `${qxx_variable_name}`. 
You can find all relative templates in the `query/queryParameters.sql` file.

## Environment preparation
**Make sure to read through and run the following code cells before starting the exercise** 

### Install PySpark

Setup of python environment done through `pyproject.toml` specifications and 
[_poetry_](https://python-poetry.org/docs/)
on project root directory.
Follow `README.md` instructions to install the dependencies in a freshly created virtual environment.

### Import PySpark

Whenever working with Spark, you need to either start a Spark Session or join one.
The Spark Session Builder will handle under-the-hood the architecture of the framework discussed in class 
and give us an entry point to programming with Spark.
It will create an application UI panel at `localhost:4040` by default.
Go check it to see info regarding driver, executors and jobs for the current configuration.

In [1]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

# when run locally, spark has one (master) node with its own jvm and no cluster manager is created
spark = SparkSession.builder.master("local").appName("Homework 07").getOrCreate()

spark

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/05/29 18:42:52 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

# Spark API

The building block of the Spark API is its Resilient Distributed Dataset (RDD) API.
In the RDD API, there are two types of operations: transformations, which define a new dataset based on previous ones,
and actions, which kick off a job to execute on a cluster.
On top of Spark's RDD API, high level APIs are provided e.g. Dataframe API and Machine Learning API.
We will focus on the former. 


# PySpark Dataframes

Dataframes are a data structure for data manipulation.
A [PySpark Dataframe](https://spark.apache.org/docs/latest/api/python/reference/index.html) 
is represented as a 2-dimensional labeled data structure with columns of potentially different types.
Similar to what a spreadsheet or SQL table looks like.
Most functionality and API of 
[Pandas](https://pandas.pydata.org/docs/)
data analysis library is proposed in PySpark with support for distributed collections of data.

To start, let's see how to create a dataframe, visualize the data in it and retrieve its basic properties.

In [2]:
# Creating a DataFrame from scratch
df = spark.createDataFrame(
    data=[(1, "Alice", 33), (1, "Alice", 33), (2, "Bob", 45), (3, "Charlie", 50)],
    schema=["id", "name", "age"],
)

# visualize dataframe representation
df.show()  # by default shows first 20 rows

[Stage 0:>                                                          (0 + 1) / 1]

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 33|
|  1|  Alice| 33|
|  2|    Bob| 45|
|  3|Charlie| 50|
+---+-------+---+

In [3]:
print(
    f"Type: {type(df)}",  # PySpark Dataframe is not equal to Pandas Dataframe !
    f"First top n=2 rows: {df.head(2)}",  # rows returned in a list
    f"Column title names: {df.columns}",
    f"Column title names with its types: {df.dtypes}",
    f'Selecting a column: {df.select("name")}',  # it's still a DataFrame
    f'Avoid pandas notation (less features): {df["name"]}',  # Column object with lesser features than PySpark DataFrame
    f'Selecting more than one columns: {df.select(["name", "age"])}',  # it's still a DataFrame
    sep="\n\n",
)

Type: <class 'pyspark.sql.classic.dataframe.DataFrame'>

First top n=2 rows: [Row(id=1, name='Alice', age=33), Row(id=1, name='Alice', age=33)]

Column title names: ['id', 'name', 'age']

Column title names with its types: [('id', 'bigint'), ('name', 'string'), ('age', 'bigint')]

Selecting a column: DataFrame[name: string]

Avoid pandas notation (less features): Column<'name'>

Selecting more than one columns: DataFrame[name: string, age: bigint]

In [4]:
# print the values of the selected columns
df.select(["name", "age"]).show()

+-------+---+
|   name|age|
+-------+---+
|  Alice| 33|
|  Alice| 33|
|    Bob| 45|
|Charlie| 50|
+-------+---+

In [5]:
# get statistics retrieved from a dataframe, computationally expensive, similar to Pandas
df.describe().show()

+-------+------------------+-------+-----------------+
|summary|                id|   name|              age|
+-------+------------------+-------+-----------------+
|  count|                 4|      4|                4|
|   mean|              1.75|   NULL|            40.25|
| stddev|0.9574271077563381|   NULL|8.616843969807043|
|    min|                 1|  Alice|               33|
|    max|                 3|Charlie|               50|
+-------+------------------+-------+-----------------+

## Column operations on DataFrame

Column operations generate a new DataFrame that need to be stored in a variable to be saved.
It does not change the original DataFrame, but creates a new modified one from it.

The following operations on column are presented:
- creation
- renaming
- deletion

The method `col('...')` is the one responsible 
to return a column given its name.

In [6]:
# add a column where the 'age' is increase by +2
df_col_added = df.withColumn(colName="age in 2 years", col=col("age") + 2)
df_col_added.show()

+---+-------+---+--------------+
| id|   name|age|age in 2 years|
+---+-------+---+--------------+
|  1|  Alice| 33|            35|
|  1|  Alice| 33|            35|
|  2|    Bob| 45|            47|
|  3|Charlie| 50|            52|
+---+-------+---+--------------+

In [7]:
# remove the 'id' column
df_col_removed = df_col_added.drop("id")
df_col_removed.show()

+-------+---+--------------+
|   name|age|age in 2 years|
+-------+---+--------------+
|  Alice| 33|            35|
|  Alice| 33|            35|
|    Bob| 45|            47|
|Charlie| 50|            52|
+-------+---+--------------+

In [8]:
# rename the 'name' column
df_col_renamed = df_col_removed.withColumnRenamed(
    existing="name", new="name_column_renamed"
)

df_col_renamed.show()

+-------------------+---+--------------+
|name_column_renamed|age|age in 2 years|
+-------------------+---+--------------+
|              Alice| 33|            35|
|              Alice| 33|            35|
|                Bob| 45|            47|
|            Charlie| 50|            52|
+-------------------+---+--------------+

## Row operations on DataFrame

The result from this operations need to be saved in a new variable since it does not change the original dataframe. 
Same logic as column operations.

The following operations on rows are presented:
- creation
- update
- deletion

The examples provided are scoped within the context of handling null missing values in dataframe records.

In [9]:
# update a row setting a null value
df_null = df.withColumn(
    colName="age", col=when(col("age") >= 50, None).otherwise(col("age"))
)

df_null = df_null.withColumn(
    colName="id", col=when(col("Name") == "Bob", None).otherwise(col("id"))
)

df_null.show()

+----+-------+----+
|  id|   name| age|
+----+-------+----+
|   1|  Alice|  33|
|   1|  Alice|  33|
|NULL|    Bob|  45|
|   3|Charlie|NULL|
+----+-------+----+

Missing values are generally referred as `NA`, which is a sentinel value.
Further explanation in 
[pandas](https://pandas.pydata.org/docs/user_guide/missing_data.html#missing-data),
[pyspark](https://spark.apache.org/docs/3.1.1/api/python/reference/api/pyspark.sql.DataFrame.na.html?highlight=na#pyspark.sql.DataFrame.na)
specific docs.

In [10]:
# remove rows if containing any null value in field attributes
df_without_null_rows = df_null.dropna()
# same as df_null.na.drop(), df_null.dropna(how='any'), df_null.na.drop(how='any')
df_without_null_rows.show()

+---+-----+---+
| id| name|age|
+---+-----+---+
|  1|Alice| 33|
|  1|Alice| 33|
+---+-----+---+

In [11]:
# remove rows only if null missing values is present in the specified column
df_without_id_null = df_null.dropna(subset=["id"])
df_without_id_null.show()

+---+-------+----+
| id|   name| age|
+---+-------+----+
|  1|  Alice|  33|
|  1|  Alice|  33|
|  3|Charlie|NULL|
+---+-------+----+

In [12]:
# replace null missing values with the one provided, must correspond to column type
df_filled_nulls = df_without_id_null.fillna(-1)
df_filled_nulls.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 33|
|  1|  Alice| 33|
|  3|Charlie| -1|
+---+-------+---+

## Filter operations

Fundamental to implement conditions on data.
We pick again our old non-modified dataframe.
The 3 fundamental boolean operators for filters are:
- & and
- | or
- ~ not

Remember to put brackets for more than one condition inside filter
e.g. `.filter((...) & (...) | (...))`

In [13]:
df_people_forty = df.filter(condition=(40 <= df.age) & (df.age < 50))
df_people_forty.show()

+---+----+---+
| id|name|age|
+---+----+---+
|  2| Bob| 45|
+---+----+---+

In [14]:
# remember the select operation presented at the start to chose only relevant columns
df_people_forty_anonymized = df_people_forty.select(["id", "age"])
df_people_forty_anonymized.show()

+---+---+
| id|age|
+---+---+
|  2| 45|
+---+---+

## Join

Join columns of another Dataframe.

In [15]:
# new faculties dataframe
df_faculties = spark.createDataFrame(
    data=[(1, "INF"), (2, "ECO")],
    schema=["id", "faculty"],
)

df_faculties.show()

+---+-------+
| id|faculty|
+---+-------+
|  1|    INF|
|  2|    ECO|
+---+-------+

In [16]:
# add a column to the original df to perform join
df_faculty_assigned = df.withColumn(
    colName="faculty", col=when(df.name == "Bob", 2).otherwise("1")
)

df_faculty_assigned.show()

+---+-------+---+-------+
| id|   name|age|faculty|
+---+-------+---+-------+
|  1|  Alice| 33|      1|
|  1|  Alice| 33|      1|
|  2|    Bob| 45|      2|
|  3|Charlie| 50|      1|
+---+-------+---+-------+

In [17]:
# JOIN operation
df_joined = df_faculty_assigned.join(
    other=df_faculties, on=df_faculty_assigned.faculty == df_faculties.id
)

df_joined.show()

+---+-------+---+-------+---+-------+
| id|   name|age|faculty| id|faculty|
+---+-------+---+-------+---+-------+
|  1|  Alice| 33|      1|  1|    INF|
|  1|  Alice| 33|      1|  1|    INF|
|  3|Charlie| 50|      1|  1|    INF|
|  2|    Bob| 45|      2|  2|    ECO|
+---+-------+---+-------+---+-------+

## Aggregates

GroupBy functionality is implemented as the method `.groupBy()` in spark dataframe API.
It then allows you to use aggregate functionality `.agg()` on the resulting object 
that can perform any aggregate operation you have already seen in SQL.
It involves a combination of splitting the object, applying a function on the data 
and recombine the result.
Example of aggregate operations available: `.count()`, `.sum()`, `.mean()`, `.max()`, `.min()`, ...
Do not use the alternative with lowercase letters `.groupby()` as it is for pandas compatibility.

In [18]:
# get the average age of the faculty
df_faculty_avg_age = df_faculty_assigned.groupBy(df_faculty_assigned.faculty).agg(
    avg(df_faculty_assigned.age)
)

df_faculty_avg_age.show()

+-------+------------------+
|faculty|          avg(age)|
+-------+------------------+
|      1|38.666666666666664|
|      2|              45.0|
+-------+------------------+

### Alias

Correspondent of 'AS' sql keyword. 
Allow data structure to be referenced using an alternative name.
Can be applied to dataframes, columns.
If in the same expression you are renaming a column 
and want to use it in another function, 
reference to such column with `col('aliasedName')`.

In [19]:
df_alias = df.alias("df_alias")
df_alias.show()

+---+-------+---+
| id|   name|age|
+---+-------+---+
|  1|  Alice| 33|
|  1|  Alice| 33|
|  2|    Bob| 45|
|  3|Charlie| 50|
+---+-------+---+

In [20]:
# from previous example of aggregates
df_faculty_avg_age = df_faculty_assigned.groupBy(df_faculty_assigned.faculty).agg(
    avg(df_faculty_assigned.age).alias("Average Age")
)

df_faculty_avg_age.show()

+-------+------------------+
|faculty|       Average Age|
+-------+------------------+
|      1|38.666666666666664|
|      2|              45.0|
+-------+------------------+

## OrderBy

Returns a new sorted dataframe by the specified column(s).

In [21]:
df_faculty_avg_age.orderBy(desc(col="Average Age")).show()

+-------+------------------+
|faculty|       Average Age|
+-------+------------------+
|      2|              45.0|
|      1|38.666666666666664|
+-------+------------------+

## Others

Important functions from SQL have their own correspondent, 
you should be able to complete the assignment with the ones listed.
Since there are many solutions to reach the same goal 
for the query translation exercise, 
just check out the documentation for further references:
[PySpark Dataframe API](https://spark.apache.org/docs/latest/api/python/reference/index.html)

## Define Helper Function

In [22]:
# load table from TPCxx-BB dataset. Returning a dataframe read from parquet format
get_table = lambda table: spark.read.option("header", "true").parquet(
    f"TPCx-BB-dataset/{table}.ptxt"
)

## Explore the dataset

You can use `get_table` to load current dataset tables. A table in Spark is stored as a *DataFrame* - see reference in the exercise intro.

In [23]:
# load the current table
customer = get_table("customer")
customer.show()

+-------------+----------------+------------------+------------------+-----------------+----------------------+---------------------+------------+------------+-----------+---------------------+-----------+-------------+------------+--------------------+-------------+--------------------+------------------+
|c_customer_sk|   c_customer_id|c_current_cdemo_sk|c_current_hdemo_sk|c_current_addr_sk|c_first_shipto_date_sk|c_first_sales_date_sk|c_salutation|c_first_name|c_last_name|c_preferred_cust_flag|c_birth_day|c_birth_month|c_birth_year|     c_birth_country|      c_login|     c_email_address|c_last_review_date|
+-------------+----------------+------------------+------------------+-----------------+----------------------+---------------------+------------+------------+-----------+---------------------+-----------+-------------+------------+--------------------+-------------+--------------------+------------------+
|            0|AAAAAAAAAAAAAAAA|           1824793|              3203|             2555|                 28776|                14690|         Ms.|      Marisa| Harrington|                    N|         17|            4|        1988|UNITED ARAB EMIRATES| RRCyuY3XfE3a|Marisa.Harrington...|          gdMmGdU9|
|            1|AAAAAAAAAAAAAAAB|            830976|              2600|             9191|                 94658|                19931|        Miss|      Bessie|   Calderon|                    N|         20|           10|        1945|              MONACO|      aCJb9cc|Bessie.Calderon@s...|         hLQn0LtVa|
|            2|AAAAAAAAAAAAAAAC|            335540|              5527|            14091|                 31783|               106195|        Miss|     Barbara|     Hoover|                    Y|          3|            4|        1952|           GREENLAND|   59cfL9Fbpv|Barbara.Hoover@la...|          vDVbSOCI|
|            3|AAAAAAAAAAAAAAAD|           1056662|              1978|            19122|                  8741|                87583|         Mr.|       Lanny|       Berg|                    N|          2|            1|        1932|              CANADA|    TvsKkZgPt|   Lanny.Berg@gmx.fr|          ZxCh4LKH|
|            4|AAAAAAAAAAAAAAAE|            596707|              3971|            21996|                 14688|                75952|        Mrs.|        Gina|      Felix|                    Y|         18|            4|        1959|               NAURU|     t3r2t4rC|Gina.Felix@amplim...|            WpJjJ1|
|            5|AAAAAAAAAAAAAAAF|            363428|              4888|            21272|                 38182|                65826|         Dr.|      Judith|     Mccain|                    N|         11|           10|        1936|             ICELAND|          WfT|Judith.Mccain@pri...|          jXmMzRt8|
|            6|AAAAAAAAAAAAAAAG|           1601629|              6779|            18776|                 48020|                75950|         Sir|      Lavern|     Guzman|                    N|          2|            7|        1952|                GUAM|     SD7IbZaQ|Lavern.Guzman@pea...|            xKpEnQ|
|            7|AAAAAAAAAAAAAAAH|            260357|              2400|            30589|                 20361|                42197|         Dr.|      Janice|     Murray|                    Y|         23|            8|        1976|           LITHUANIA|   p1FXddH8rW|Janice.Murray@mac...|         xhjGNk98a|
|            8|AAAAAAAAAAAAAAAI|           1519111|              1818|            23037|                 39194|                62551|         Mr.|         Lee|    Jenkins|                    N|         15|           12|        1972|             TUNISIA|         s2Ef|Lee.Jenkins@hushm...|                 j|
|            9|AAAAAAAAAAAAAAAJ|            555297|              5958|            30815|                 43531|                50147|         Mr.|    Jonathan|     Parker|                    Y|         10|            2|        1976|             GEORGIA|       N2Qq55|Jonathan.Parker@m...|            vgudeV|
|           10|AAAAAAAAAAAAAAAK|            890454|              5535|            34947|                 78774|               102861|         Sir|      George|   Anderson|                    N|         14|            3|        1968|             TUNISIA|           Sa|George.Anderson@s...|                46|
|           11|AAAAAAAAAAAAAAAL|           1438986|              1495|              761|                 91923|                70592|         Sir|       Jorge|     Taylor|                    N|         22|            2|        1963|               NIGER|zIhZa6uiGHzb6| Jorge.Taylor@ip6.li|        bmZgmTmXHY|
|           12|AAAAAAAAAAAAAAAM|           1425262|              1525|            44513|                 10286|               103343|         Dr.|      Cheryl|        Lee|                    Y|         12|           11|        1972|             JAMAICA|     tBf8lG0t|Cheryl.Lee@lavabi...|             h3tgo|
|           13|AAAAAAAAAAAAAAAN|           1331330|              2300|            13401|                 51231|               102876|         Mr.|         Don|   Williams|                    Y|         15|            7|        1952|              BRAZIL|     cb00ffNo|Don.Williams@gmx....|        aEV7ed7nMQ|
|           14|AAAAAAAAAAAAAAAO|           1633793|              5097|            21014|                 71728|                 1803|         Ms.|      Alicia|     Flores|                    Y|         15|           10|        1983|         AFGHANISTAN|          Y3e|Alicia.Flores@gmx.hk|         rsOpe2e5s|
|           15|AAAAAAAAAAAAAAAP|            686483|              2725|            25060|                 44067|                61458|         Sir|        Paul|    Becerra|                    N|         13|            2|        1955|        COOK ISLANDS|  eILOny1Kpzq|Paul.Becerra@gmai...|          EGo3wwNs|
|           16|AAAAAAAAAAAAAAAQ|            885432|               808|            42429|                 58839|                53580|         Sir|       Ellis| Cunningham|                    Y|         19|            6|        1981|                CUBA|            L|Ellis.Cunningham@...|                hw|
|           17|AAAAAAAAAAAAAAAR|           1536897|              1789|            10433|                 34329|                88531|         Mr.|       Lance|     Hardee|                    Y|          2|            2|        1982|SYRIAN ARAB REPUBLIC|          1iF| Lance.Hardee@ip6.li|            XPcaEU|
|           18|AAAAAAAAAAAAAAAS|           1025955|              7158|            47874|                 93009|                88336|        Miss|      Alisha|    Jenkins|                    N|          4|           11|        1927|         ISLE OF MAN|  VTZFhF0rDxe|Alisha.Jenkins@we...|          czjma9gS|
|           19|AAAAAAAAAAAAAAAT|           1384075|              3101|            32881|                 15482|                52298|        Mrs.|        Adam|    Quigley|                    N|         14|            7|        1966|               CHINA|  LXkGj0iRk5X|Adam.Quigley@vfem...|         IwvFu8IYR|
+-------------+----------------+------------------+------------------+-----------------+----------------------+---------------------+------------+------------+-----------+---------------------+-----------+-------------+------------+--------------------+-------------+--------------------+------------------+
only showing top 20 rows

In [24]:
# show the 1st row of the customer table
customer.show(n=1)

+-------------+----------------+------------------+------------------+-----------------+----------------------+---------------------+------------+------------+-----------+---------------------+-----------+-------------+------------+--------------------+------------+--------------------+------------------+
|c_customer_sk|   c_customer_id|c_current_cdemo_sk|c_current_hdemo_sk|c_current_addr_sk|c_first_shipto_date_sk|c_first_sales_date_sk|c_salutation|c_first_name|c_last_name|c_preferred_cust_flag|c_birth_day|c_birth_month|c_birth_year|     c_birth_country|     c_login|     c_email_address|c_last_review_date|
+-------------+----------------+------------------+------------------+-----------------+----------------------+---------------------+------------+------------+-----------+---------------------+-----------+-------------+------------+--------------------+------------+--------------------+------------------+
|            0|AAAAAAAAAAAAAAAA|           1824793|              3203|             2555|                 28776|                14690|         Ms.|      Marisa| Harrington|                    N|         17|            4|        1988|UNITED ARAB EMIRATES|RRCyuY3XfE3a|Marisa.Harrington...|          gdMmGdU9|
+-------------+----------------+------------------+------------------+-----------------+----------------------+---------------------+------------+------------+-----------+---------------------+-----------+-------------+------------+--------------------+------------+--------------------+------------------+
only showing top 1 row

In [25]:
# display the table schema, which in Spark is a set of [column, type, nullable]
customer.schema

StructType([StructField('c_customer_sk', LongType(), True), StructField('c_customer_id', StringType(), True), StructField('c_current_cdemo_sk', LongType(), True), StructField('c_current_hdemo_sk', LongType(), True), StructField('c_current_addr_sk', LongType(), True), StructField('c_first_shipto_date_sk', LongType(), True), StructField('c_first_sales_date_sk', LongType(), True), StructField('c_salutation', StringType(), True), StructField('c_first_name', StringType(), True), StructField('c_last_name', StringType(), True), StructField('c_preferred_cust_flag', StringType(), True), StructField('c_birth_day', LongType(), True), StructField('c_birth_month', LongType(), True), StructField('c_birth_year', LongType(), True), StructField('c_birth_country', StringType(), True), StructField('c_login', StringType(), True), StructField('c_email_address', StringType(), True), StructField('c_last_review_date', StringType(), True)])

In [26]:
# or for a nice pretty print tree view of it
customer.printSchema()

root
 |-- c_customer_sk: long (nullable = true)
 |-- c_customer_id: string (nullable = true)
 |-- c_current_cdemo_sk: long (nullable = true)
 |-- c_current_hdemo_sk: long (nullable = true)
 |-- c_current_addr_sk: long (nullable = true)
 |-- c_first_shipto_date_sk: long (nullable = true)
 |-- c_first_sales_date_sk: long (nullable = true)
 |-- c_salutation: string (nullable = true)
 |-- c_first_name: string (nullable = true)
 |-- c_last_name: string (nullable = true)
 |-- c_preferred_cust_flag: string (nullable = true)
 |-- c_birth_day: long (nullable = true)
 |-- c_birth_month: long (nullable = true)
 |-- c_birth_year: long (nullable = true)
 |-- c_birth_country: string (nullable = true)
 |-- c_login: string (nullable = true)
 |-- c_email_address: string (nullable = true)
 |-- c_last_review_date: string (nullable = true)

## Sample query translation
Refer to `queries/q00/explain_q00.sql`. The code below is a valid translation of that query using SparkSQL. You can use any methods in the Spark SQL DataFrame class to implement your solution.

### Query 0
Find the amount of items sold by their category.  
Only in certain categories sold in specific stores are considered,

In [27]:
# look into TCPx-BB-dataset/ directory to check all the available tables.
# gather tables needed

s = get_table("store_sales")
i = get_table("item")

q01_i_category_id_IN = [1, 2, 3]
q01_ss_store_sk_IN = [10, 20, 33, 40, 50]

query0_solution = (
    s.join(other=i, on=s.ss_item_sk == i.i_item_sk)
    .filter(condition=i.i_category_id.isin(q01_i_category_id_IN))
    .filter(condition=s.ss_store_sk.isin(q01_ss_store_sk_IN))
    .groupBy(i.i_category)
    .count()
    .select("i_category", "count")
)

query0_solution.show()

[Stage 38:>                                                         (0 + 1) / 1]

+--------------+-----+
|    i_category|count|
+--------------+-----+
|Home & Kitchen| 1975|
|         Books|14455|
|         Music|25060|
+--------------+-----+

The cell below is a shortcut to display the results file of q00 without navigating to the file.  
The `!` symbol followed by a bash command (`cat` in this case) can be used as in-cell access to the terminal

In [28]:
## check the result
# !cat queries/q00/results/q00-result

# [OUR SOLUTION BELOW]
Write the query description in a Markdown cell, followed by a code cell with the query implementation.  
Query descriptions can be found in the TCPx-BB specification, page 93: https://www.tpc.org/tpc_documents_current_versions/current_specifications5.asp
and in the _/queries_ folder of this exercise.

You should implement all the queries assigned in the homework sheet.

## 1) Query 07

In [29]:
year=2004
month=7
max=10

j=get_table("item").withColumn(colName="more", col=col("i_current_price")*1.2 )

avg_Cat_Prices = j.groupBy(j.i_category).agg(avg(j.more).alias("Average+20%"))

k=get_table("item")
overpriced =k.join(other=avg_Cat_Prices, on=(k["i_category"] == avg_Cat_Prices["i_category"]) &(k["i_current_price"] > avg_Cat_Prices["Average+20%"]))
    

d=get_table("date_dim").select("d_date_sk", "d_year", "d_moy")
date_range= d.filter(condition = (col("d_year") == year) & (col("d_moy") == month)) .select("d_date_sk")

a= get_table("customer_address")
c= get_table("customer")
c_a = a.join(other = c, on = a.ca_address_sk == c.c_current_addr_sk)#customer +address

s= get_table("store_sales")  
c_a_s=c_a.join(other = s, on = c.c_customer_sk == s.ss_customer_sk) #c_a+store_sales

c_a_s_o=c_a_s.join(other = overpriced, on=s.ss_item_sk==overpriced.i_item_sk)#c_a_s+overpriced
casod=c_a_s_o.join(other = date_range, on=s.ss_sold_date_sk==date_range.d_date_sk)

query7_solution= casod.groupBy("ca_state").count().alias("count").filter(
    condition=col("count") >= max).orderBy(desc("count"), "ca_state").limit(max).select("ca_state", "count")

query7_solution.show()

+--------+-----+
|ca_state|count|
+--------+-----+
|      TX|  396|
|      GA|  247|
|      VA|  233|
|      IL|  205|
|      KY|  176|
|      KS|  170|
|      NC|  164|
|      IA|  163|
|      MO|  156|
|      AL|  139|
+--------+-----+

In [30]:
# check the result
# !cat queries/q07/results/q07-result

## 2) Query 09

In [31]:
# implementation
ss1 = get_table("store_sales")
dd = get_table("date_dim")
ca1 = get_table("customer_address")
s = get_table("store")
cd = get_table("customer_demographics")
# dd.show("d_year")
q09_year=2001 

q09_part1_ca_country="United States"
q09_part1_ca_state_IN=['KY', 'GA', 'NM']
q09_part1_net_profit_min=0
q09_part1_net_profit_max=2000
q09_part1_education_status="4 yr Degree"
q09_part1_marital_status="M"
q09_part1_sales_price_min=100
q09_part1_sales_price_max=150

q09_part2_ca_country="United States"
q09_part2_ca_state_IN=['MT', 'OR', 'IN']
q09_part2_net_profit_min=150
q09_part2_net_profit_max=3000
q09_part2_education_status="4 yr Degree"
q09_part2_marital_status="M"
q09_part2_sales_price_min=50
q09_part2_sales_price_max=200

q09_part3_ca_country="United States"
q09_part3_ca_state_IN=['WI', 'MO', 'WV']
q09_part3_net_profit_min=50
q09_part3_net_profit_max=25000
q09_part3_education_status="4 yr Degree"
q09_part3_marital_status="M"
q09_part3_sales_price_min=150
q09_part3_sales_price_max=200

solution = (
    ss1.join(other = dd.filter
             (condition=(dd.d_year == q09_year)), on = (ss1.ss_sold_date_sk == dd.d_date_sk))).join(
            other = ca1, on = (ss1.ss_addr_sk == ca1.ca_address_sk)).join(
            other = s, on = (s.s_store_sk == ss1.ss_store_sk)).join(
            other = cd, on = (cd.cd_demo_sk == ss1.ss_cdemo_sk)).filter(condition=
            (
                (
                (cd.cd_marital_status == q09_part1_marital_status)
                & (cd.cd_education_status == q09_part1_education_status)
                & (q09_part1_sales_price_min <= ss1.ss_sales_price)
                & (ss1.ss_sales_price <= q09_part1_sales_price_max)
                )
                |
                (
                (cd.cd_marital_status == q09_part2_marital_status)
                & (cd.cd_education_status == q09_part2_education_status)
                & (q09_part2_sales_price_min <= ss1.ss_sales_price)
                & (ss1.ss_sales_price <= q09_part2_sales_price_max)
                )
                |
                (
                (cd.cd_marital_status == q09_part3_marital_status)
                & (cd.cd_education_status == q09_part3_education_status)
                & (q09_part3_sales_price_min <= ss1.ss_sales_price)
                & (ss1.ss_sales_price <= q09_part3_sales_price_max)
                )
            )
            &
            (
               (
                (ca1.ca_country == q09_part1_ca_country)
                & (ca1.ca_state.isin (q09_part1_ca_state_IN))
                & (q09_part1_net_profit_min <= ss1.ss_net_profit)
                & (ss1.ss_net_profit <= q09_part1_net_profit_max)
                )
                |
                (
                (ca1.ca_country == q09_part2_ca_country)
                & (ca1.ca_state.isin (q09_part2_ca_state_IN))
                & (q09_part2_net_profit_min <= ss1.ss_net_profit)
                & (ss1.ss_net_profit <= q09_part2_net_profit_max)
                )
                |
                (
                (ca1.ca_country == q09_part3_ca_country)
                & (ca1.ca_state.isin (q09_part3_ca_state_IN))
                & (q09_part3_net_profit_min <= ss1.ss_net_profit)
                & (ss1.ss_net_profit <= q09_part3_net_profit_max)
                ) 
            )
            ).select(sum("ss_quantity"))
          
solution.show()

+----------------+
|sum(ss_quantity)|
+----------------+
|          5900.0|
+----------------+

In [32]:
# check the result
# !cat queries/q09/results/q09-result

## 3) Query 20

In [33]:
order= get_table("store_sales").groupBy("ss_customer_sk").agg(count_distinct("ss_ticket_number").alias("orders_count"),count("ss_item_sk").alias("orders_items"),sum("ss_net_paid").alias("orders_money"))
returned= get_table("store_returns").groupBy("sr_customer_sk").agg(count_distinct("sr_ticket_number").alias("returns_count"),count("sr_item_sk").alias("returns_items"),sum("sr_return_amt").alias("returns_money"))

combined= order.join(other=returned, on= (order.ss_customer_sk==returned.sr_customer_sk), how="left_outer")
q20_solutions=combined.select(combined.ss_customer_sk.alias("user_sk"), round(
    when((combined.returns_count.isNull()) | (combined.orders_count.isNull()) | ((combined.returns_count / combined.orders_count).isNull()), 
                                0.0).otherwise(combined.returns_count / combined.orders_count), 7).alias("orderRatio"), 
                round(when(
        (combined.returns_items.isNull()) | (combined.orders_items.isNull()) | (combined.returns_items / combined.orders_items).isNull(),
        0.0
    ).otherwise(combined.returns_items / combined.orders_items), 7).alias("itemsRatio"),
    round(when(
        (col("returns_money").isNull()) | (col("orders_money").isNull()) | try_divide(combined.returns_money, combined.orders_money).isNull(),
        0.0
    ).otherwise(col("returns_money") / col("orders_money")), 7).alias("monetaryRatio"),
    when(combined.returns_count.isNull(), 0).otherwise(combined.returns_count).alias("frequency")
               ).orderBy("user_sk")
q20_solutions.show()

+-------+----------+----------+-------------+---------+
|user_sk|orderRatio|itemsRatio|monetaryRatio|frequency|
+-------+----------+----------+-------------+---------+
|      2|       0.1| 0.0595745|     0.051983|        3|
|      3|       0.0|       0.0|          0.0|        0|
|      4|       0.0|       0.0|          0.0|        0|
|      7| 0.3333333|      0.04|    0.0175497|        1|
|     12|       0.0|       0.0|          0.0|        0|
|     16|       0.0|       0.0|          0.0|        0|
|     17|       1.0| 0.5714286|    0.2275411|        1|
|     19|       0.0|       0.0|          0.0|        0|
|     22|       0.0|       0.0|          0.0|        0|
|     23|       0.5| 0.1666667|    0.1366843|        1|
|     30|       0.0|       0.0|          0.0|        0|
|     31|       1.0|      0.25|    0.4410076|        1|
|     32|       0.0|       0.0|          0.0|        0|
|     37|       0.0|       0.0|          0.0|        0|
|     38|       0.0|       0.0|          0.0|        0|
|     39|       0.0|       0.0|          0.0|        0|
|     40|       0.0|       0.0|          0.0|        0|
|     42|       0.0|       0.0|          0.0|        0|
|     49|       0.0|       0.0|          0.0|        0|
|     50|       0.0|       0.0|          0.0|        0|
+-------+----------+----------+-------------+---------+
only showing top 20 rows

In [34]:
# check the result
# !cat queries/q20/results/q20-result-queryonly

## 4) Query 05 BONUS

In [35]:
q05_i_category='Movies & TV'
q05_cd_education_status_IN=['Advanced Degree', 'College', '4 yr Degree', '2 yr Degree']
q05_cd_gender='M'
web= get_table("web_clickstreams")
it= get_table("item")
joined= web.join(other=it, on=((web.wcs_item_sk == it.i_item_sk)& (web.wcs_user_sk.isNotNull())))
categorized= joined.select("wcs_user_sk", 
                           when(col("i_category") == q05_i_category,1).otherwise(0).alias("in_cat"),
                           when(col("i_category_id") == 1,1).otherwise(0).alias("in_1"),
                           when(col("i_category_id") == 2,1).otherwise(0).alias("in_2"),
                           when(col("i_category_id") == 3,1).otherwise(0).alias("in_3"),
                           when(col("i_category_id") == 4,1).otherwise(0).alias("in_4"),
                           when(col("i_category_id") == 5,1).otherwise(0).alias("in_5"),
                           when(col("i_category_id") == 6,1).otherwise(0).alias("in_6"),
                           when(col("i_category_id") == 7,7).otherwise(0).alias("in_7"))

user_cat= categorized.groupBy(categorized.wcs_user_sk).agg(
    sum(col("in_cat")).alias("clicks_in_category"),
    sum(col("in_1")).alias("clicks_in_1"),
    sum(col("in_2")).alias("clicks_in_2"),
    sum(col("in_3")).alias("clicks_in_3"),
    sum(col("in_4")).alias("clicks_in_4"),
    sum(col("in_5")).alias("clicks_in_5"),
    sum(col("in_6")).alias("clicks_in_6"),
    sum(col("in_7")).alias("clicks_in_7"))
ct=get_table("customer")
cd=get_table("customer_demographics")
q05=user_cat.join(other=ct, on=(col("wcs_user_sk") == col("c_customer_sk"))).join(other=cd, on=(col("c_current_cdemo_sk") == col("cd_demo_sk"))).select(
    "clicks_in_category", 
    when(((col("cd_education_status")).isin(q05_cd_education_status_IN)), 1).otherwise(0).alias("college_education"), 
    when((col("cd_gender") == q05_cd_gender), 1).otherwise(0).alias("men"),
    "clicks_in_1","clicks_in_2","clicks_in_3","clicks_in_4","clicks_in_5","clicks_in_6","clicks_in_7")
q05.show()

[Stage 90:>                                                         (0 + 1) / 1]

+------------------+-----------------+---+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|clicks_in_category|college_education|men|clicks_in_1|clicks_in_2|clicks_in_3|clicks_in_4|clicks_in_5|clicks_in_6|clicks_in_7|
+------------------+-----------------+---+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
|                 5|                1|  1|          0|         19|         29|          2|          2|          1|          0|
|                12|                1|  1|          0|         17|         44|          1|          7|          7|          0|
|                 5|                0|  1|          0|         18|         19|          0|          3|          1|          0|
|                15|                1|  1|          0|         10|         33|          0|          2|          1|          0|
|                19|                1|  0|          0|         31|         74|          2|          4|          4|          0|
|                 5|                1|  0|          0|         10|         15|          1|          2|          0|          0|
|                31|                0|  1|          0|         39|        100|          2|         13|          3|          0|
|                15|                1|  1|          0|         22|         36|          3|          3|          1|          0|
|                16|                1|  0|          0|         17|         39|          0|          1|          2|          0|
|                11|                0|  1|          0|         13|         22|          0|          1|          2|          0|
|                11|                0|  1|          0|         15|         33|          1|          2|          1|          0|
|                10|                1|  1|          0|         20|         25|          1|          4|          2|          0|
|                 1|                1|  0|          0|          5|          5|          0|          0|          1|          0|
|                10|                0|  1|          0|         18|         53|          1|          2|          0|          0|
|                 4|                1|  1|          0|          5|         18|          2|          2|          1|          0|
|                 4|                0|  0|          0|          9|         26|          1|          3|          0|          0|
|                12|                0|  1|          0|         24|         28|          2|          6|          3|          0|
|                12|                1|  1|          0|          9|         16|          1|          2|          0|          0|
|                 6|                1|  1|          0|          9|         12|          1|          2|          2|          0|
|                 3|                1|  0|          0|          2|          9|          1|          0|          0|          0|
+------------------+-----------------+---+-----------+-----------+-----------+-----------+-----------+-----------+-----------+
only showing top 20 rows

In [36]:
# !cat queries/q05/results/q05-result
#results have to be put into a model which is not part of this course, 
# but the result here could be used as input.

## 5) Query 12
Please see comment in code

In [37]:
q12_i_category_IN=['Books', 'Electronics']
wcs= get_table("web_clickstreams").filter(condition= (
    (col("wcs_click_date_sk").between(37134, 37134+30 ))&
    #(col("wcs_sales_sk").isNull())&
    ####### the line above is commented because else dataset is empty
    (col("wcs_user_sk").isNotNull())))
i= get_table("item").filter(condition=(col("i_category").isin(q12_i_category_IN)))

# wc = get_table("web_clickstreams").filter(condition= (col("wcs_sales_sk").isNull()))
# wc.show()
#### notice that wc is empty, we guess there is an error in the dataset##################

webInRange=wcs.join(other=i, on= (wcs.wcs_item_sk==i.i_item_sk)).select("wcs_user_sk","wcs_click_date_sk")


ss=get_table("store_sales").filter(condition= (col("ss_sold_date_sk").between(37134, 37134+90)))

storeInRange=ss.join(other=j, on =(col("ss_item_sk") == col("i_item_sk"))).dropna(
    subset="ss_customer_sk").select("ss_customer_sk","ss_sold_date_sk")

q12_sol= webInRange.join(other=storeInRange, on = (
    (col("wcs_user_sk")==col("ss_customer_sk"))&
    (col("wcs_click_date_sk") < col("ss_sold_date_sk")))
    ).select("wcs_user_sk").distinct().orderBy("wcs_user_sk") 

q12_sol.show()

+-----------+
|wcs_user_sk|
+-----------+
|        131|
|       1953|
|       2716|
|       3040|
|       5207|
|       6348|
|       8083|
|      14886|
|      15678|
|      15979|
|      21484|
|      23273|
|      25224|
|      26473|
|      26635|
|      29403|
|      32522|
|      36127|
|      38733|
|      40576|
+-----------+
only showing top 20 rows

In [38]:
# check the result
# !cat queries/q12/results/q12-result

## 6) Query 06
The table web_sales does only have one column, though many are required in the SQL code, we attempted to write the code as if it were working.

In [39]:
q06_LIMIT=100
q06_YEAR=2001

ss = get_table('store_sales')
dd = get_table('date_dim')

store = dd.join(
        other = ss, on = (ss.ss_sold_date_sk == dd.d_date_sk)
    ).filter(condition=(col("d_year").between(q06_YEAR, q06_YEAR + 1))).groupBy("ss_customer_sk").agg(
            sum(
                when(col("d_year") == q06_YEAR,
                (((col("ss_ext_list_price") - (col("ss_ext_wholesale_cost")) - (col("ss_ext_disc_amt")))
                  + (col("ss_ext_sales_price"))) /2 )).otherwise(0)
            ).alias("first_year_total"),
            sum(
                when(col("d_year") == q06_YEAR + 1,
                (((col("ss_ext_list_price") - (col("ss_ext_wholesale_cost")) - (col("ss_ext_disc_amt")))
                  + (col("ss_ext_sales_price"))) /2 )).otherwise(0)
            ).alias("second_year_total")
        ).filter(condition=
            (col("first_year_total")) > 0
        ).select((col("ss_customer_sk")).alias("customer_sk"),
                "first_year_total",
                "second_year_total"
        )


ws = get_table("web_sales")

web = dd.join(
        other = ws, on = (ws.ws_sold_date_sk == dd.d_date_sk)
    ).filter(condition=(col("d_year").between(q06_YEAR, q06_YEAR + 1))).groupBy("ws_bill_customer_sk").agg(
            sum(
                when(col("d_year") == q06_YEAR,
                (((col("ws_ext_list_price") - (col("ws_ext_wholesale_cost")) - (col("ws_ext_disc_amt")))
                  + (col("ws_ext_sales_price"))) /2 )).otherwise(0)
            ).alias("first_year_total"),
            sum(
                when(col("d_year") == q06_YEAR + 1,
                (((col("ws_ext_list_price") - (col("ws_ext_wholesale_cost")) - (col("ws_ext_disc_amt")))
                  + (col("ws_ext_sales_price"))) /2 )).otherwise(0)
            ).alias("second_year_total")
        ).filter(condition=
            (col("first_year_total")) > 0
        ).select((col("ws_bill_customer_sk")).alias("customer_sk"),
                "first_year_total",
                "second_year_total"
        )


c = get_table('customer')

join = (
    web.join(
    other = store, on = (store.customer_sk == web.customer_sk))
    .join(other = c, on = (web.customer_sk == c.customer_sk))
)

filter = (
    join.filter(
        (col("web.second_year_total") / col("web.first_year_total")) > 
        (col("store.second_year_total") / col("store.first_year_total"))
    )
)

q06_sol = filter.select(
    (col("web.second_year_total") / col("web.first_year_total")).alias("web_sales_increase_ratio"),
    col("c.c_customer_sk"),
    col("c.c_first_name"),
    col("c.c_last_name"),
    col("c.c_preferred_cust_flag"),
    col("c.c_birth_country"),
    col("c.c_login"),
    col("c.c_email_address")).orderBy(
        desc("web_sales_increase_ratio"),
        "c_customer_sk",
        "c_first_name",
        "c_last_name",
        "c_preferred_cust_flag",
        "c_birth_country",
        "c_login"
    ).limit(q06_LIMIT)
q06_sol.show()

PySparkAttributeError: [ATTRIBUTE_NOT_SUPPORTED] Attribute `ws_sold_date_sk` is not supported.

In [ ]:
# check the result
# !cat queries/q06/results/q06-result

## 7)Query 13
The table web_sales does only have one column, though many are required in the SQL code, we attempted to write the code as if it were working.

In [40]:
q13_Year=2001
q13_limit=100

d = get_table("date_dim")
ws = get_table("web_sales")
ss = get_table("store_sales")

store = (d.filter(condition = (col("d_year").between(q13_Year, q13_Year + 1))).select
               (col("d_date_sk"),col("d_year"))).join(
                   other = ss, on = (ss.ss_sold_date_sk == col("d_date_sk"))).groupBy("ss_customer_sk").agg(
                       sum(
                           when(col('d_year') == q13_Year,
                                ss.ss_net_paid).otherwise(0)
                       ).alias("first_year_total"),
                       sum(
                           when(col('d_year') == q13_Year + 1,
                                ss.ss_net_paid).otherwise(0)
                       ).alias("second_year_total")
                   ).filter(
                       condition=(col("first_year_total")) > 0
                   ).select((col("ss_customer_sk")).alias("customer_sk"),
                            "first_year_total",
                            "second_year_total")

web = (d.filter(condition = (col("d_year").between(q13_Year, q13_Year + 1))).select
               (col("d_date_sk"),col("d_year"))).join(
                   other = ws, on = (ws.ws_sold_date_sk == col("d_date_sk"))).groupBy("ws_bill_customer_sk").agg(
                       sum(
                           when(col('d_year') == q13_Year,
                                ws.ws_net_paid).otherwise(0)
                       ).alias("first_year_total"),
                       sum(
                           when(col('d_year') == q13_Year + 1,
                                ws.ws_net_paid).otherwise(0)
                       ).alias("second_year_total")
                   ).filter(
                       condition=(col("first_year_total")) > 0
                   ).select((col("ws_bill_customer_sk")).alias("customer_sk"),
                            "first_year_total",
                            "second_year_total")



c = get_table('customer')

join = (
    web.join(
    other = store, on = (store.customer_sk == web.customer_sk))
    .join(other = c, on = (web.customer_sk == c.customer_sk))
)

filter = (
    join.filter(
        (col("web.second_year_total") / col("web.first_year_total")) > 
        (col("store.second_year_total") / col("store.first_year_total"))
    )
)

quary13_solution = filter.select(
    (col("store.second_year_total") / col("store.first_year_total")).alias("storeSalesIncreaseRatio"),
    (col("web.second_year_total") / col("web.first_year_total")).alias("webSalesIncreaseRatio"),
    col("c_customer_sk"),
    col("c_first_name"),
    col("c_last_name")
    ).orderBy(
        desc("webSalesIncreaseRatio"),
        "c_customer_sk",
        "c_first_name",
        "c_last_name",
    ).limit(q13_limit)

PySparkAttributeError: [ATTRIBUTE_NOT_SUPPORTED] Attribute `ws_sold_date_sk` is not supported.

In [ ]:
# check the result
# !cat queries/q13/results/q13-result

In [41]:
# Resource saver: gracefully stop the spark session :)
# spark.stop()

# hope to see you using clusters with Spark in Databricks platform
# on the cloud as AWS, Azure, GCP
# for your Data Engineering projects :D